
<div id="popup-box" style="display:none;">
    <h1>Verify your age before adding product in cart. </h1>
    <form >
        <select id="id-cards" name="cards">
            <option value="1">Pan card</option>
            <option value="2">Aadhar card</option>
            <option value="3">Passport number</option>
            <input id="card-field" name="cart-field">
            <button type="submit"></button>
        </select>
    </form>
</div>


<div data-bind="scope: 'ageverification'">
<!-- ko template: getTemplate() --><!-- /ko -->
</div>
 
<script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "ageverification": {
                            "component": "Deloitte_DeveloperTest/js/verification",
                            "template" : "Deloitte_DeveloperTest/verification-form"
                        }
                    }
                }
            }
        }
</script>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {

            var popup = modal(options, $('#popup-modal'));
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'Verify your add before adding product in cart',
                buttons: [{
                    text: $.mage.__('Continue'),
                    class: '',
                    click: function() {
                        this.closeModal();
                    }
                }]
            };

            $('button.action.tocart.primary').click(function(e) {
                showPopup(e);
                console.log('test');
                event.preventDefault();
            });
           
            function showPopup(e) {
                $("#popup-modal").modal("openModal");
                event.preventDefault();
            }

            $("#verify-btn").on('click', function() {
                //$( "button.action.tocart.primary" ).trigger( "click" );
            });

            function verify() {
                
            }

        }
    );
</script>